/* src/styles/Home.css */
.home {
    text-align: center;
    padding: 40px 20px;
}

.home h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #1a2e77;
}

.cta-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

.btn {
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    border: 2px solid #1a2e77; /* Default border color */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Animation effect */
}

.btn:hover {
    color: #1a2e77;
}

/* Blue button by default */
.btn-primary {
    background-color: #0037ff;
    color: white;
}

/* Blue button becomes white on hover */
.btn-primary:hover {
    background-color: white;
    color: #0037ff;
    border-color: black; /* Change border color to black */
}

/* White button by default */
.btn-secondary {
    background-color: white;
    color: #0037ff;
}

/* White button becomes blue on hover */
.btn-secondary:hover {
    background-color: #1a2e77;
    color: white;
}
